<p style="color: green"><%= notice %></p>

<h1>My Foods</h1>
<div id="newFood">
<%= link_to "Add food", new_food_path %>
</div>
<div id="foods">
<div class="food" id="foodTable">
<p>
  <strong>Name:</strong>
</p>

  <p>
    <strong>Unit Price:</strong>
  </p>

  <p>
    <strong>Quantity:</strong>
  </p>

  <p>
    <strong>Actions:</strong>
  </p>
</div>
  <% @foods.each do |food| %>
    <%= render food %>
    <hr>
  <% end %>
</div>
